<?xml version="1.0" encoding="UTF-8"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" id="WebApp_ID" version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>ATomcatRuntimeProject</display-name>
	<filter>
		<filter-name>CompressionFilter</filter-name>
		<filter-class>com.ibm.javart.util.gzip.CompressionFilter</filter-class>
        <init-param>
            <param-name>compression_threshold</param-name>
            <param-value>2048</param-value>
        </init-param>
        <init-param>
            <param-name>trace_level</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>enable_compression</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>trace_dev</param-name>
            <param-value>0</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>CompressionFilter</filter-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>/___proxy</url-pattern>
	</filter-mapping>
	<servlet>
		<display-name>restservices</display-name>
		<servlet-name>restservices</servlet-name>
		<servlet-class>com.ibm.javart.services.RestServiceServlet</servlet-class>
        <init-param>
            <param-name>urixml</param-name>
            <param-value>ATomcatRuntimeProject-uri.xml</param-value>
        </init-param>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Apache-Axis2 Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>com.ibm.javart.services.axis2.EGLJAXWSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>EGLRichUIProxy</display-name>
		<servlet-name>EGLRichUIProxy</servlet-name>
		<servlet-class>com.ibm.javart.services.RestServiceServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>restservices</servlet-name>
        <url-pattern>/restservices/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EGLRichUIProxy</servlet-name>
        <url-pattern>/___proxy</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>